GrassTest1/GrassTest1/obj/
GrassTest1/GrassTest1/bin/
GrassTest1/GrassTest1Content/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GrassTest1/GrassTest1Content/obj/x86/Debug/GrassTest1Content.contentproj.CoreCompileInputs.cache
GrassTest1/GrassTest1Content/obj/x86/Debug/GrassTest1Content.contentproj.FileListAbsolute.txt
GrassTest1/GrassTest1Content/obj/x86/Debug/GrassTest1Content.contentprojAssemblyReference.cache
.vs/
